@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(82, 113, 255);
    color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: rgb(102, 255, 161);
}